
<div ng-controller="searchCtl">
    <h1>Search Recipe</h1><br>
    <form ng-submit="search(para)">
        <input type="text" ng-model="para.keyword" placeholder="Search keyword">
        <input type="submit">
    </form>
    <table>
        <tr><th>Search Result</th></tr><br>
        <tr ng-repeat="recipe in recipes">
            <td><h4><a href="#/recipeDetails?id={{recipe.id}}">{{recipe.title}}</h4></a></td>
            <td><img src="{{recipe.image_url}}" height="150"></td>
        </tr>
    </table>
</div>